* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #ed1b2e;
}

body {
    display: flex;
}

.main-pic {
    position: relative;
    display: block;
    width: 50vw;
    border-right: solid 4px var(--main-color);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading > h1 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: end;
    color:white;
    padding: 1.4rem;
    padding-right: 3rem;
    width: 50vw;
    background-color: #ed1b2c93;
    top: 10%;
    left: 0%;
}

.heading > img {
    position: absolute;
    width: 130px;
    opacity: 50%;
    background-color: rgba(252, 10, 10, 0.4);
    top: 10%;
    left: 2.5%;
}

.main {
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 5px green;
    width: 80%;
}

.container {
    position: relative;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}

.description {
    font-size: 1.25rem;
    padding-left: 4rem;
    padding-right: 10rem;
    
}
span {
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--main-color);
    padding: 4rem;
    margin: 4rem 0;
    box-shadow: 2px 5px 8px 2px rgb(172, 171, 171);
}

.login {
    font-size: 1.25rem;
    display: flex;
    padding-left: 4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    border-radius: 3px;
    font-size: 1rem;
    border: solid 1px var(--main-color);
}

label {
    font-size: 1.25rem;
}    

form div {
    display: grid;
    flex-direction: column;
    column-gap: 4rem;
    row-gap: 0rem;
    margin: 0.25rem 0;

}

.name, .contact, .password {
    display: grid;
    grid-template-columns: 50% 50%;

}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 1px var(--main-color);
    border-radius: 3px;
    font-weight: bold;
    margin-top: 1.5rem;
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

/*PSEUDO CLASSES*/
input:focus {
    border: solid 1px black;
    box-shadow: 1px 2px 5px 1px black;
}

input + span {
    position: relative;
}

input:required + span::after {
    position: absolute;
    content: "Required";
    font-style: normal;
    font-size: 16px;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border: solid 1px black;
    border-radius: 3px;
    padding: 2px 10px;
    top: -59px;
    left: 257px
}

input:invalid {
    border: solid 3px black;
}

button:hover {
    background-color: white;
    border: 3px white solid;
    color: white;
    background-color: var(--main-color);
}

button:active {
    background-color: white;
    color: black;
}

a:hover {
    filter: brightness(200%);
}

a:active {
    color: black;
}