* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #ed1b2e;
}

body {
    display: flex;
}

.main-pic {
    position: relative;
    width: 30vw;
    border-right: solid 4px var(--main-color);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading > h1 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color:white;
    padding: 35px;
    width: 30vw;
    background-color: #ed1b2c93;
    top: 10%;
    left: 0%;
}
/*
h1::before {
    content: "Hello";
    border: solid 3px blue;
}

*/
.heading > img {
    position: absolute;
    width: 50px;
    background-color: rgba(252, 10, 10, 0.4);
    top: 14%;
    left: 1.5%;
}


h2 {
    width: 50%;
    font-size: 20px;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;

}


form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    padding: 5vh 60vw;
    font-weight: bold;
}

input {
    border-radius: 3px;
}

form input, label {
    font-size: 1rem;
}

button {
    width: 100px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}